body,html{
    background-color: rgb(54, 53, 53);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordering{
    border-style: solid;
    border-radius: 1%;
    border-color: beige;
    border-width: 1vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayContainer{
    height: 25vmin;
    width: 50vmin;
    background-color: deepskyblue;
    margin-bottom: 2vmin;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    text-align: right;
    border-style: solid;
    border-radius: 1%;
    border-color: beige;
}

.container{
    display: grid;
    grid-template-rows: 15vmin 15vmin 15vmin 15vmin;
    grid-template-columns: 15vmin 15vmin 15vmin 15vmin;
}

.container0{
    display: grid;
    grid-template-rows: 42vmin 28vmin;
    grid-template-columns: 56vmin;
}

.container1{
    display: grid;
    grid-template-rows: 14vmin 14vmin 14vmin;
    grid-template-columns: 14vmin 14vmin 14vmin 14vmin;
}

.container2{
    display: grid;
    grid-template-columns: 42vmin 14vmin;
}

.container3{
    display: grid;
    grid-template-rows: 14vmin 14vmin;
}

.container4{
    display: grid;
    grid-template-columns: 14vmin 14vmin 14vmin;
}

.container5{
    display: grid;
    grid-template-columns: 28vmin 14vmin;
}

.number{
    background-color: aqua;
}

.operator{
    background-color: darkorange;
}

.roundButton{
    border:none;
    border-radius: 50%;
    margin: 0.5vmin;
}

.text{
    font-size: 7.5vmin;
    font-weight:750;
}

.display{
    font-size: 5vmin;
    font-weight:750;
    height: 75%;
    width: 50vmin;
}